<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppwx.easysearch.admin.mapper.InterventionSentenceRuleMapper">

    <delete id="deleteByResourceSetId">
        DELETE FROM qp_rule_intervention_sentence
        WHERE resource_set_id = #{resourceSetId}
    </delete>

    <select id="countByResourceSetId" resultType="int">
        SELECT COUNT(*) FROM qp_rule_intervention_sentence
        WHERE resource_set_id = #{resourceSetId}
    </select>

</mapper>
