<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppwx.easysearch.admin.mapper.MetaRuleMapper">

    <insert id="copyFromVersion">
        INSERT INTO qp_rule_meta
        (version_id, term_type, category_id, category_name, brand_id, brand_name, brand_name_en, model_id, model_name, enabled, created_at, updated_at)
        SELECT
            #{newVersionId}, term_type, category_id, category_name, brand_id, brand_name, brand_name_en, model_id, model_name, enabled, NOW(), NOW()
        FROM qp_rule_meta
        WHERE version_id = #{baseVersionId}
    </insert>

</mapper>

