<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--日志路径 原有写法-->
    <property name="LOG_PATH" value="ahs-yanxuan-search"/>

    <!--日志路径，此处需要在 application.properties 配置 logging.path ,一般配置 服务名称即可-->
    <!--<property name="LOG_PATH"-->
    <!--value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>-->

    <!-- 全局统一 pattern -->
    <property name="LOG_PATTERN"
        value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] ${LOG_LEVEL_PATTERN:-%5p} %logger{256} - %msg%n"/>

    <!-- request log pattern (因为 阿里云日志解析原因) -->
    <property name="REQUEST_LOG_PATTERN"
        value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{256} - %msg%n"/>

    <!-- 标准输出模式 console-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 对日志进行格式化 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref  ref="stdout"/>
    </root>
</configuration>